<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showdata</title>
</head>

<body bgcolor="lightblue">
    <center>
        <h1>Showdata</h1>
    </center>
    <hr>
    <!-- {{dt}} -->
    <!-- {% for i in dt %}
    {{i.name}}
    {{i.email}}
    {{i.dob}}
    {{i.address}}
    {% endfor %} -->

    <center>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>DOB</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
            {% for i in dt %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.dob}}</td>
                <td>{{i.address}}</td>
                <td><a href="/updatedata">Update</a>
                <a href="/deletedata/{{i.id}}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>

</html>