<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>

<body bgcolor="lightblue">
    <center>
        <h1>Update Student Info</h1>
    </center>
    <hr>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Enter Name"><br><br>
        <input type="email" name="email" placeholder="Enter an email"><br><br>
        <input type="date" name="dob"><br><br>
        <textarea placeholder="Address" name="address"></textarea><br><br>
        <input type="submit" value="Update">
    </form>
</body>

</html>